# Database Configuration
DB_USER=food_app_user
DB_HOST=localhost
DB_NAME=food_app_db
DB_PORT=5432
DB_PASSWORD=your_password_here

# App Configuration
NODE_ENV=development
PORT=3000

# Prisma Configuration
# More instructions on how to format the connection URL can be found here:
# https://www.prisma.io/docs/getting-started/setup-prisma/add-to-existing-project/relational-databases/connect-your-database-typescript-postgresql
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"

