// Imports
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Variables
$green: #43B060;
$pink: #F06E72;
$font-primary: 'Inter', sans-serif;

// Resets / Base styles
html {
    font-family: $font-primary;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}