// Imports
@use '../styles/variables';


// Container with all page elements

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;  // to keep get recipes button at the bottom
    border: 2px solid pink;
    height: 100vh;
}


// Top of the screen - colour area

#top-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: variables.$green;
    color: variables.$white;
    padding: 5%; 
}

h1 {
    font-weight: 400;
    font-size: 1.7rem;
}

#input-fields form {
    display: flex;
    flex-direction: column;
    // border: 3px solid black;
    align-items: center;
    gap: 0.8rem;
}

// todo: create a selector to group all common styles for the below elements

.input-field {
    background-color: #ffffffcc;
    color: #777777;   // todo: make ingredient and quantity fields the same colour, turn black when typing the actual values
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    width: 18.5rem;
    height: 2.3rem;
    border-radius: 2px;
}

// todo: why is there extra space to the left of the quantity field?

#form-quantity-fields {
    display: flex;
    gap: 0.3rem;
    // border: 2px solid white; 
}

#quantity {
    width: 4rem;
}

#unit {
    width: 7rem;
}

// todo : style this button

.input-field-button {
    background-color: #ffffffe6;
    color: #253237;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 2px;
    padding: 0.6rem 1.2rem;
}


// Ingredients container - middle part of the screen

.ingredients-container-outer {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
}

.ingredients-container-inner {
    display: grid;
    grid-template-columns: 9rem 9rem;
    border: 2px solid purple;
}

.ingredient-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.6rem;
}

.ingredient-container h3, p {
    margin: 0;
}

.ingredient-icon {
    height: 5rem;
    width: 5rem;
}

#get-recipes-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 0;
}

#get-recipes-btn button {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    border-radius: 1px;
    background: variables.$pink;
    color: #ffffff;
    width: 16rem;
    margin-top: auto;
}